:root {
    --background-color: #fff;
    --text-color: #555;
}

body, html {
    padding: 0;
    margin: 0;
}

body {
    width:100%;
    height:100vh;
    min-width: 1024px;
    max-width: 1440px;
    margin: auto;
    background: whitesmoke;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 4px 4px 4px #ccc;
}

button {
    border: none;
    cursor: pointer;
}

input {
    color: #444;
    border: 1px solid #ced4da;
    border-radius: 4px;

    &:focus {
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
    }
}

#header {
    height: 4rem;
    background: #CDE8E5;
    color: white;
    padding: 1rem 0 0 1rem;
    position: relative;

    ul {
        position: absolute;
        right: 0;
        bottom: 0;
        list-style-type: none;
        margin: 0;
        padding: 0;
        padding-left: 48px;
        overflow: hidden;

        li {
            float: left;
            display: block;
            padding: 6px 24px 6px;
            font-size: 1.5rem;
            font-weight: 600;
            background-color: #FFF;
            margin-right: 48px;
            z-index: 2;
            position: relative;
            cursor: pointer;
            color: #777;
        }

        li:before,
        li:after {
            display: block;
            content: " ";
            position: absolute;
            top: 0;
            height: 100%;
            width: 44px;  
            background-color: #FFF;
            transition: all 250ms ease;
        }
        li:before {
            right: -24px;
            transform: skew(30deg, 0deg);
            box-shadow: rgba(0,0,0,.1) 3px 2px 5px, inset rgba(255,255,255,.09) -1px 0;
        }
        li:after {
            left: -24px;
            transform: skew(-30deg, 0deg);
            box-shadow: rgba(0,0,0,.1) -3px 2px 5px, inset rgba(255,255,255,.09) 1px 0;
        }

        li.active {
            z-index: 3;
        }
        li.active,
        li.active:before,
        li.active:after {
            background-color: #4D869C !important;
            color: #fff !important;
        }

        li:hover,
        li:hover:before,
        li:hover:after {
            background-color: gainsboro;
            color: #444;
        }
    }
}

.title{
    margin: 0;

    .ta, .tb { 
        font-weight: 300; 
        color: #4D869C;
    }

    .ta { font-family: 'Righteous'; }

    .tb { 
        margin-left: 8px;
        font-size: 1.25rem;
    } 
}

#main {
    padding: 2rem;
    opacity: 1.0;
    transition: opacity .3s; 
    
    button svg {
        mask-repeat: no-repeat;
        display: inline-flex;
    }
}

#main.transparent { opacity: 0.3; }

.quizbox.active,
.tablebox.active {
    display: block;
}

.quizbox { 
    position: relative;
    display: none;
    
    h1 {
        margin: auto;
        margin-bottom: 2rem;
        color: darkslategrey;
        text-align: center;
        padding-bottom: 4px;
        border-bottom: 1px solid #ddd;
    }
}

.counts {
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: goldenrod;
    font-size: 3rem;
}

.layer-top, 
.layer-bottom { 
    position: relative;
    max-width: 1024px;
    margin: auto;
}

.layer-top .question-id { color: indianred; }

.layer-bottom { 
    display: flex;
    width: 30%;
    margin: auto;
}

.tablebox { 
    position: relative;
    text-align: center;
    display: none;
}

.box-question, 
.box-answer {
    position: relative;
    display: flex;
    width: 100%;
    margin: 1rem auto;
}

.col-1, .col-2 {
    display: table-cell;
}

.col-1 {
    width: 8rem;
    text-align: center;
    background: #CDE8E5;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.1), 2px -2px 8px rgba(94, 104, 121, 0.3);
}

.col-2 {
    width: 100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), 2px -2px 8px rgba(94, 104, 121, 0.3);
}

.col-1 h2, .col-2 p {
    margin: auto;
    display: table-cell;
    vertical-align: middle;
}

.col-1 h2 {
    height: 100%;
    align-items: center;
    display: inline-flex;
    font-size: 1.25rem;
    color: darkslategray;
}

.col-2 p {
    padding: 1rem;
    padding-right: 4rem;
    word-break: break-word;
}

.box-reveal, .box-next { 
    height: 3rem;
    position: relative;
    display: table;
    width: 50%;
    margin: auto 1rem;
    text-align: center;
}

.box-reveal button,
.box-next button {
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: 1.125rem;
    background: #E6EAEF;
    box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.1), 1px 2px 4px rgba(94, 104, 121, 0.3);
    transition: .5s;

    p { 
        font-family: 'Poppins', sans-serif;
        margin: 0;
    }

    &:hover {
        box-shadow: 0px 0px 0px 3px #80bdff;
    }
}

.box-answer button svg {
    width: 3rem;
    aspect-ratio: 2.0;
}

#btn-play { 
    position: absolute;
    display: none;
    padding: 4px;
    top: 50%;
    transform: translateY(-16px);
    right: 1rem;
    width: 36px;
    aspect-ratio: 1.0;
    background: none;
    border-radius: 50%;

    &:hover {
        svg { background-color:#667eea !important; }
        animation: pulse 1.5s infinite;
    }
}

#btn-play.active { display: inline-block; }

.pagination-container {
    position: relative;
    height: 4rem;

    ul { 
        position: absolute;
        display: flex;
        align-items: center;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        height: 100%;
        list-style-type: none;
        overflow: hidden;

        li { 
            float:left;
            margin: 0 8px;
            position: relative;
        }

        button {
            background:gainsboro;
            padding: 4px;
            border-radius:50%;
            width: 2.5rem;
            aspect-ratio: 1.0;
            box-shadow: 0 0 0 0 rgba(176, 196, 222, 1);
            transition: background .5s;

            &:hover {
                background: lightsteelblue;
                animation: pulse 2s infinite;
            }
        }

        button svg { 
            width: 1.5rem;
            background-color: #444;
            aspect-ratio: 1.0;
            transition:all .3s;
        }
    }
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(176, 196, 222, 0.7);
	}
	70% {
		box-shadow: 0 0 0 10px rgba(176, 196, 222, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(176, 196, 222, 0);
	}
}

.pagination { 
    width:90%;
    height: 100%;
    display:flex;
    align-items:center;
    margin:auto;
    justify-content:center;

    button { 
        border: none;
        background: none;
        padding: 0;
    }
}

.pagination-button{
    margin:8px;
    cursor:pointer;
    width:2rem;
    aspect-ratio:1.0;
    font-weight: 600;
    border-radius: .2rem;
}

.pagination-button.active {
    svg { background-color: #333 !important; }

    &:hover { background: #b7c3d1; }
}

.pagination-button svg {
    width: 1rem;
    aspect-ratio: 1.0;
    background-color: #aaa; 
}

.pagination-numbers {
    word-spacing: 4px;
    margin: auto 1rem;

    input {
        font-size: 1rem;
        width: 3rem;
        padding: 5px;
        text-align: center;
    }
}

.table-container {
    table {
        width: 100% !important;
        position: relative;
        border-collapse: collapse;
        display: block;
        overflow-y: scroll;
        table-layout: fixed;

        colgroup { width: 1024px; }

        tr { position: relative; }

        th, td { 
            padding: 10px; 
            padding-right: 30px;
            text-align: left;
            position: relative;
            word-break: break-word;

            &:hover {
                button { display: inline-block; }
            }
        }
        
        th { 
            border-left: 2px solid whitesmoke;
            color: darkslategray;
        }
    
        td {
            text-overflow: ellipsis;
        }

        td a { 
            text-decoration: none; 
            margin-left: 4px;
            color: #667eea !important;
        }
    
        thead { 
            background: #CDE8E5; 
            border-bottom: 1px solid dimgray;
        }
        tbody { 
            background: #fdfdfd;
            color: dimgray; 
        }
    
        tbody tr:hover{
            background-color: #ebf4ff;
        }

        tbody tr td:nth-child(1) {
            font-weight: 700;
            color:#222;
        }
    
        tr:last-child > * {
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        }
    }

    table.active {
        height: calc(100vh - 192px);
        min-height: 384px;
        max-height: 768px;
    }

    h2 {
        display: none;
        font-family: 'Righteous';
        font-weight: 300;
        font-size: 2rem;
        color: goldenrod;
        margin: 1rem auto;
    }

    button {
        position: absolute;
        display: none;
        height: 100%;
        top: 2px;
        right: 10px; 
        background: none;
        vertical-align: middle;
        padding: 2px;
        width: 1.25rem;
        aspect-ratio: 1.0;

        &:hover {
            svg { background-color: #aaa; }
        }
    }

    button svg {
        width: 1rem;
        aspect-ratio: 1.0;
    }
}

.not-found.active { display: block; }

#btn-delete svg { background-color: indianred !important; }

#btn-edit-1 svg,
#btn-edit-2 svg { 
    background-color: #4D869C !important;
}

.popup {
    position: absolute;
    display:none;
    top: max(25%, 192px);
    left: 0;
    right: 0;
    width: 50%;
    margin: auto;
    padding: 1rem;
    background: #fdfdfd;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.1), 2px -2px 8px rgba(94, 104, 121, 0.3);

    h2 { 
        margin: 0;
        margin-bottom: 2rem;
        color: darkslategrey;
        text-align: center;
        padding-bottom: 4px;
        border-bottom: 1px solid #ddd;
    }
}

.popup.active { display: block; }

.input-container { 
    position: relative;
    width: 75%;
    margin: 2rem auto;

    input { 
        font-size: 1.25rem;
        margin: 4px auto;
        width: 100%;
        padding: 4px 8px;
    }
}

.btn-container {
    position: relative;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 3rem;

    button { 
        font-size: 1rem;
        margin: auto 1rem;
        border: none;
        padding: 4px 8px;
        box-shadow: 0 1px 0 0 #b7c3d1, 0 2px 2px -1px rgba(0, 0, 0, 0.6), 0 2px 3px 1px rgba(0, 0, 0, 0.3), 0 1px 2px 1px rgba(0, 0, 0, 0) inset, 0 9px 16px -2px rgba(255, 255, 255, 0.1) inset;
        background-color: #E6EAEF;
        background-image: linear-gradient(-45deg, #E6EAEF, #e4edf1);
        color: #444;
        transition: .5s;

        &:hover {
            box-shadow: 0px 0px 0px 3px #80bdff;
        }
    }
}


.ico-play {
    -webkit-mask-image:url('/static/img/audioplay.svg');
    mask-image:url('/static/img/audioplay.svg');
}

.ico-first {
    -webkit-mask-image:url('/static/img/first.svg');
    mask-image:url('/static/img/first.svg');
}

.ico-forward,
.ico-backward {
    -webkit-mask-image:url('/static/img/arrow.svg');
    mask-image:url('/static/img/arrow.svg');
}

.ico-forward { transform: translateX(2px); }

.ico-backward { transform: rotate(180deg) translateX(2px); }

.ico-last {
    -webkit-mask-image:url('/static/img/last.svg');
    mask-image:url('/static/img/last.svg');
}

.ico-reset {
    -webkit-mask-image:url('/static/img/reset.svg');
    mask-image:url('/static/img/reset.svg');
}

.ico-add {
    transform: translateX(2px);
    -webkit-mask-image:url('/static/img/plus.svg');
    mask-image:url('/static/img/plus.svg');
}

.ico-search {
    -webkit-mask-image:url('/static/img/search.svg');
    mask-image:url('/static/img/search.svg');
}

.ico-delete {
    -webkit-mask-image:url('/static/img/delete.svg');
    mask-image:url('/static/img/delete.svg');
}

.ico-edit {
    -webkit-mask-image:url('/static/img/edit.svg');
    mask-image:url('/static/img/edit.svg');
}