<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
<body>
<div id="header">
    <h1 class="title">
        <span class="ta">SpeakEnglish</span>
        <span class="tb">Made by Yankos</span>
    </h1>
    <ul>
        <li class="active" id="link-main">Main</li>
        <li id="link-list">List</li>
    </ul>
</div>
<div id="main">
    <div class="quizbox active">
        <h1>We are serving total <span class="counts">{{ counts }}</span> sentences!</h1>
        <div class="layer-top">
            <p class="question-id">#{{ question_id }}</p>
            <div class="box-question">
                <div class="col-1"><h2>Question</h2></div>
                <div class="col-2">
                    <p class="question">{{ question }}</p>
                </div>
            </div>
            <div class="box-answer">
                <div class="col-1"><h2>Answer</h2></div>
                <div class="col-2">
                    <p class="answer">...</p>
                    <button id="btn-play"><svg class="ico-play"></svg></button>
                </div>
            </div>
        </div>
        <div class="layer-bottom">
            <div class="box-reveal">
                <button id="btn-reveal"><p>Reveal</p></button>
            </div>
            <div class="box-next">
                <button id="btn-next"><p>Next</p></button>
            </div>
        </div>
    </div>
    <div class="tablebox">
        <div class="pagination-container">
            <nav class="pagination">
                <button class="pagination-button" id="btn-firstpage" aria-label="Previous page" title="Previous page">
                    <svg class="ico-first"></svg>
                </button>
                <button class="pagination-button" id="btn-prevpage" aria-label="Previous page" title="Previous page">
                    <svg class="ico-backward"></svg>
                </button>
                <div class="pagination-numbers">
                    <input id="input-page" type="text" value="1"/>
                    of 
                    <span class="total-pages"></span>
                </div>
                <button class="pagination-button" id="btn-nextpage" aria-label="Previous page" title="Previous page">
                    <svg class="ico-forward"></svg>
                </button>
                <button class="pagination-button" id="btn-lastpage" aria-label="Next page" title="Next page">
                    <svg class="ico-last"></svg>
                </button>
            </nav>
            <ul>
                <li><button id="btn-reset"><svg class="ico-reset"></svg></button></li>
                <li><button id="btn-add"><svg class="ico-add"></svg></button></li>
                <li><button id="btn-search"><svg class="ico-search"></svg></button></li>
            </ul>
        </div>
        <div class="table-container">
            <table class="dbtable">
                <colgroup>
                    <col style="width: 7%;">
                    <col style="width: 46.5%;">
                    <col style="width: 46.5%;">
                </colgroup>
                <thead>
                    <tr>
                        <th>idx</th>
                        <th>question</th>
                        <th>answer</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <h2 class="not-found">Records Not Found</h2>
        </div>
    </div>
</div>
<div class="popup" id="popup-add">
    <h2>Add New Sentence</h2>
    <div class="input-container">
        <input id="input-add-s1" type="text" placeholder="Question..." value=""/>
        <input id="input-add-s2" type="text" placeholder="Answer..." value=""/>
    </div>
    <div class="btn-container">
        <button id="btn-confirm">Add</button>
        <button id="btn-cancle">Cancle</button>
    </div>
</div>
<div class="popup" id="popup-edit-1">
    <h2>Edit question: <span class="keyword"></span></h2>
    <div class="input-container">
        <input id="input-edit-1" type="text" placeholder="Question..." value=""/>
    </div>
    <div class="btn-container">
        <button id="btn-confirm">Update</button>
        <button id="btn-cancle">Cancle</button>
    </div>
</div>
<div class="popup" id="popup-edit-2">
    <h2>Edit answer: <span class="keyword"></span></h2>
    <div class="input-container">
        <input id="input-edit-2" type="text" placeholder="Answer..." value=""/>
    </div>
    <div class="btn-container">
        <button id="btn-confirm">Update</button>
        <button id="btn-cancle">Cancle</button>
    </div>
</div>
<div class="popup" id="popup-search">
    <h2>Search keyword</h2>
    <div class="input-container">
        <input id="input-search" type="text" placeholder="Keyword..." value=""/>
    </div>
    <div class="btn-container">
        <button id="btn-confirm">Search</button>
        <button id="btn-cancle">Cancle</button>
    </div>
</div>
<div class="popup" id="popup-delete">
    <h2>Delete index: <span class="keyword"></span></h2>
    <div class="btn-container">
        <button id="btn-confirm">Delete</button>
        <button id="btn-cancle">Cancle</button>
    </div>
</div>
</body>
<script src="{{ url_for('static', path='/main.js') }}"></script>
</html>
